name: CI - Run Tests on Develop
on:
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    runs-on: ubuntu-22.04
    env:
      DATABASE_URL: postgresql://test_user:test_password@localhost:5432/test_db?connection_limit=1
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      MERCADOPAGO_NOTIFICATION_URL: http://test.reapp/donation/notify

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          node-version: "20.16.0"
          cache: "pnpm"
      - run: pnpm install
      - run: pnpm db:generate
      - run: pnpm test
